/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(219, 69%, 56%);
  --first-color-alt: hsl(219, 69%, 52%);
  --title-color: hsl(219, 8%, 95%);
  --text-color: hsl(219, 8%, 75%);
  --text-color-light: hsl(219, 4%, 55%);
  --white-color: #fff;
  --body-color: hsl(219, 4%, 4%);
  --container-color: hsl(219, 4%, 7%);
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Exo", sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: 2.5rem;
}

.main {
  overflow: hidden;
}

.shape {
  background-color: hsla(219, 33%, 32%, 0.5);
  filter: blur(112px);
  border-radius: 50%;
}

.shape__big {
  width: 400px;
  height: 400px;
}

.shape__small {
  width: 300px;
  height: 300px;
}

/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  display: inline-flex;
}

.nav__logo {
  align-items: center;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.nav__logo i {
  font-size: 1.25rem;
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: hsla(0, 0%, 100%, 0.1);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(96px);
            backdrop-filter: blur(96px);
    transition: 0.3s;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 3rem;
  padding-top: 9rem;
}

.nav__link {
  text-transform: uppercase;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  font-size: 2rem;
  color: var(--white-color);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Change background header */
.scroll-header {
  border-radius: 0 0 1rem 1rem;
  background-color: var(--body-color);
  box-shadow: 0 2px 4px hsl(0, 0%, 1%);
}

/* Active link */
.active-link{
  color: var(--first-color);
}

/*=============== HOME ===============*/
.home {
  position: relative;
  overflow: hidden;
}

.home__container {
  position: relative;
  padding-top: 4rem;
  row-gap: 3rem;
}

.home__data {
  text-align: center;
}

.home__title {
  font-size: var(--h1-font-size);
  margin-bottom: 1rem;
}

.home__subtitle {
  font-size: var(--h3-font-size);
  margin-bottom: 0.25rem;
}

.home__elec {
  font-size: var(--small-font-size);
  font-weight: 400;
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
}

.home__elec i {
  color: var(--first-color);
}

.home__img {
    width: fit-content;
    justify-self: center;
    border-radius: 0.5rem;
}

.home__car {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  margin-bottom: 2rem;
}

.home__car-name {
  font-size: 0.625rem;
  font-weight: 400;
  color: var(--text-color-light);
}

.home__car-data {
  text-align: center;
}

.home__car-number {
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
}

.home__car-icon {
  background-color: var(--container-color);
  border-radius: 50%;
  padding: 0.376rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
}

.home__button {
  position: relative;
  border: 2px solid hsl(158, 89%, 30%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  font-size: var(--small-font-size);
  color: var(--white-color);
  font-weight: var(--font-medium);
}

.home__button::before {
  content: "";
  border: 2px solid hsl(158, 98%, 43%);
  width: 90px;
  height: 90px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 12px hsl(158, 98%, 43%);
  transition: 0.3s;
  animation: button 3s infinite;
}

.home .shape__big,
.home .shape__small {
  position: absolute;
}

.home .shape__big {
  left: -9rem;
  top: -4rem;
}

.home .shape__small {
  left: -10rem;
  top: 3rem;
}

/* Button animate */
@keyframes button {
  0% {
    box-shadow: 0 0 12px hsl(158, 98%, 43%);
  }
  50% {
    box-shadow: 0 0 24px hsl(158, 98%, 43%);
  }
}
/*=============== BUTTON ===============*/
.button {
  display: inline-block;
  margin: 2rem;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  font-size: var(--normal-font-size);
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

/*=============== ABOUT ===============*/
.about__container {
  row-gap: 6rem;
}

.about__group {
  position: relative;
}

.about__img {
  width: 310px;
  border-radius: 0.5rem;
}

.about__card {
  width: 180px;
  position: absolute;
  right: 0;
  bottom: -2.5rem;
  margin: 2rem;
  background-color: hsla(0, 0%, 100%, 0.1);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  padding: 1rem 0.75rem;
  text-align: center;
  border-radius: 1.25rem;
}

.about__card-title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}

.about__card-description {
  font-size: var(--smaller-font-size);
}

.about__title {
  text-align: initial;
  margin: 2rem;
}

.about__description {
  margin: 2rem;
}

/*=============== FEATURES ===============*/
.features {
  overflow: hidden;
  position: relative;
}

.features__container {
  padding-top: 2rem;
  grid-template-columns: 285px;
  justify-content: center;
}

.features__group {
  display: grid;
  position: relative;
}

.features__img {
  width: 150px;
  justify-self: center;
  z-index: 1;
}

.features__card{
  width: 112px;
  background-color: hsla(0, 0%, 100%, 0.1);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  border-radius: 1.25rem;
  padding: 0.75rem 2rem;
  text-align: center;
  color: var(--title-color);
  position: absolute;
  z-index: 1;
}

.features__card-1 {
  top: 28rem;
  left: 1.5rem;
}

.features__card-2 {
  top: 18rem;
  right: 2rem;
}

.features__card-3 {
  top: 7rem;
  left: 0.4rem;
}

.features__card-title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.25rem;
}

.features__card-description {
  font-size: var(--smaller-font-size);
}

.features__map {
  min-width: fit-content;
  position: absolute;
  top: 8rem;
  left: -3rem;
  margin: auto;
}

/*=============== Viewer ===============*/
.viewer{
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.viewer__viewport{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}

.section_title{
  font-size: var(--h1-font-size);
}

.model__title{
  font-size: var(--h3-font-size);
  margin-bottom: 0.25rem;
}

/*=============== OFFER ===============*/
.offer {
  position: relative;
}

.offer__container {
  grid-template-rows: max-content 224px;
}

.offer__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.offer__data,
.offer__img {
  position: relative;
}

.offer__data {
  text-align: center;
}

.offer__title {
  margin-bottom: 2rem;
}

.offer__description {
  margin-bottom: 3rem;
}

.offer__img {
  position: absolute;
  max-width: initial;
  border-radius: 0.5rem;
  width: 400px;
  bottom: 2rem;
  right: -5.5rem;
}

/*=============== LOGOS ===============*/
.logos__img {
  width: 40px;
  opacity: 0.4;
  transition: 0.3s;
}

.logos__container {
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-bottom: 2rem;
}

.logos__img:hover {
  opacity: 1;
}

/*=============== FOOTER ===============*/
.footer{
  position: relative;
  overflow: hidden;
}

.footer .shape__big,
.footer .shape__small{
  position: absolute;
}

.footer .shape__big{
  width: 300px;
  height: 300px;
  left: -12rem;
  top: 6rem;
}

.footer .shape__small{
  right: -13rem;
  bottom: -6rem;
}

.footer__container{
  row-gap: 2.5rem;
  position: relative;
}

.footer__logo{
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1.25rem;
  transition: .3s;
}

.footer__logo i{
  font-size: 1.5rem;
  font-weight: 500;
}

.footer__logo:hover{
  color: var(--first-color);
}

.footer__title{
  font-size: var(--h3-font-size);
  margin-bottom: 1.25rem;
}

.footer__links{
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}

.footer__link,
.footer__social-link{
  color: var(--text-color);
  transition: .3s;
}

.footer__link:hover,
.footer__social-link:hover{
  color: var(--title-color);
}

.footer__social{
  display: flex;
  column-gap: 1.5rem;
}

.footer__social-link{
  font-size: 1.25rem;
}

.footer__copy{
  display: block;
  margin-top: 4.5rem;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  background-color: hsl(219, 4%, 16%);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb{
  background-color: hsl(219, 4%, 24%);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(219, 4%, 32%);
}

/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: hsla(0, 0%, 100%, 0.1);
  backdrop-filter: blur(16px);
  display: inline-flex;
  padding: .45rem;
  border-radius: .5rem;
  font-size: 1.15rem;
  color: var(--white-color);
  z-index: var(--z-tooltip);
  transition: .4s;
}

.scrollup:hover{
  transform: translateY(-.25);
}

/* Show Scroll Up*/
.show-scroll{
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  .container{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .home__car{
    column-gap: 2rem;
  }

  .about__card{
    width: 150px;
  }

  .offer__container{
    grid-template-rows: max-content 180px;
  }

  .offer__img{
    width: 340px;
  }

  .logos__container{
    gap: 2.5rem;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) { 
  .about__group{
    width: 350px;
    justify-self: center;
  }
  
  .features__map{
    left: 0;
    right: 0;
  }

  .features__card-1{
    top: -2;
    left: -2.25rem;
  }

  .features__card-2{
    top: 27;
    left: 24.7;
  }

  .offer__container{
    grid-template-rows: initial;
    grid-template-columns: .5fr;
    justify-content: center;
  }

  .offer__img{
    position: relative;
    bottom: initial;
    right: initial;
  }

  .offer__data{
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 767px) {
  .section{
    padding: 7rem 0 2rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__toggle,
  .nav__close{
    display: none;
  }

  .nav__list{
    flex-direction: row;
    column-gap: 3rem;
    padding-top: 0;
  }

  .nav__link{
    font-size: var(--normal-font-size);
    text-transform: initial;
  }

  .about__container{
    grid-template-columns: repeat(2, 1fr);
  }

  .logos__container{
    gap: 4rem 8rem;
  }

  .footer__container{
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For large devices */
@media screen and (min-width: 1040px) {
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  .shape__big{
    width: 500px;
    height: 500px;
  }

  .shape__small{
    width: 400px;
    height: 400px;
  }

  .home__container{
    padding-top: 2rem;
  }

  .home__img{
    width: 380px;
  }

  .home__car{
    column-gap: 7rem;
  }

  .home__car-icon{
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .about__container{
    column-gap: 6rem;
    align-items: center;
  }

  .about__group,
  .about__img{
    width: 480px;
  }

  .about__card{
    width: 198px;
    padding: 1rem 1.25rem;
  }

  .about__description{
    padding-right: 4rem;
    margin-bottom: 3rem;
  }

  .features__container{
    padding: 2rem 0 3rem;
  }

  .features__img{
    width: 200px;
  }

  .features__card{
    width: 127px;
    padding: .75rem 2.5rem;
  }

  .features__card-1{
    top: 40rem;
    left: 3rem;
  }

  .features__card-2{
    top: 33rem;
    right: 10rem;
  }

  .features__card-3{
    top: 18rem;
    left: 4rem;
  }

  .features__map{
    width: 100%;
    top: 11rem;
  }

  .offer__container{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    align-items: center;
    padding-bottom: 2rem;
  }

  .offer__data,
  .offer__title{
    text-align: initial;
  }

  .offer__data{
    margin-bottom: 0;
  }

  .offer__description{
    padding-right: 6rem;
  }

  .offer__img{
    width: 450px;
  }

  .logos__container{
    grid-template-columns: repeat(6, max-content);
  }

  .logos__img{
    width: 50px;
  }

  .footer__container{
    grid-template-columns: repeat(4, max-content);
    justify-content: space-between;
  }

  .footer__logo{
    column-gap: .5rem;
  }

  .footer__logo i{
    font-size: 2rem;
  }

  .footer__title{
    margin-bottom: 1.5rem;
  }

  .footer__links{
    row-gap: .75rem;
  }

  .footer__social-link{
    font-size: 1.5rem;
  }

  .footer__copy{
    margin-top: 8rem;
    padding-bottom: 1rem;
  }

  .scrollup{
    right: 3rem;
  }
}