/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Poppins:wght@700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-padding-top: 1rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* Variables */
:root {
  --main-color: hsl(56, 100%, 50%);
  --text-color: white;
  --bg-color: hsl(219, 4%, 4%);
  --title-color: hsl(0, 0%, 51%);
}

/* Scroll Bar */
html::-webkit-scrollbar {
  width: 0.5rem;
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  border-radius: 5rem;
  background: var(--text-color);
}

section {
  padding: 4rem 0 2rem;
}

img {
  width: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  max-width: 1068px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

header.shadow {
  background: var(--bg-color);
  box-shadow: 4px 4px 20px rgba(15, 54, 55, 0.1);
  transition: 0.5s ease;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 35px;
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  color: var(--text-color);
  display: none;
}

.logo {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-color);
}

.navbar {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.navbar a {
  color: var(--text-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar a:hover,
.navbar .active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

.home {
  max-width: 100%;
  margin: auto;
  width: 100%;
  min-height: 640px;
  display: flex;
  align-items: center;
  background-image: url("../Assets/porsche-normal.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
}

.home-text {
  padding-left: 130px;
}

.home-text h1 {
  font-size: 2.4rem;
}

.home-text span {
  color: var(--main-color);
}

.home-text p {
  font-size: 0.938rem;
  font-weight: 300;
  margin: 0.5rem 0 1.2rem;
}

.btn {
  padding: 10px 22px;
  background: var(--main-color);
  color: var(--bg-color);
  font-weight: 400;
}

.btn:hover {
  background: hsl(56, 100%, 33%);
}

.heading {
  text-align: center;
}

.heading span {
  font-weight: 500;
  color: var(--main-color);
}

.heading p {
  font-size: 0.938rem;
  font-weight: 300;
}

.cars-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.cars-container .box {
  flex: 1 1 17rem;
  position: relative;
  height: 200px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.cars-container .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.cars-container .box img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.cars-container .box a {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-weight: 400;
  font-size: 1rem;
  background: var(--bg-color);
  padding: 8px;
  border-radius: 0.5rem;
}

.cars-container .box:hover a {
  background: var(--main-color);
  color: var(--bg-color);
}

.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
}

.about-img {
  flex: 1 1 21rem;
}

.about-text {
  flex: 1 1 21rem;
}

.about-text span {
  font-weight: 500;
  color: var(--main-color);
}

.about-text h2 {
  font-size: 1.7rem;
}

.about-text p {
  font-size: 0.938rem;
  margin: 0.5rem 0 1.4rem;
}

.footer {
  background: white;
  color: var(--bg-color);
  border-top: 10px solid var(--main-color);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.footer-container .logo {
  font-size: 1.4rem;
  color: var(--bg-color);
  margin-bottom: 1rem;
}

.footer-container .footer-box {
  display: flex;
  flex-direction: column;
}

.social {
  display: flex;
  align-items: center;
}

.social a {
  font-size: 1.4rem;
  color: var(--bg-color);
  margin-right: 1rem;
}

.social a:hover {
  color: var(--main-color);
}

.footer-box h3 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.footer-box a,
.footer-box p {
  color: var(--title-color);
  margin-bottom: 10px;
}

.footer-box a:hover {
  color: var(--main-color);
}

.copyright {
  padding: 20px;
  text-align: center;
  color: var(--bg-color);
  background: var(--text-color);
}

/* Responsive */
@media (max-width: 1080px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (max-width: 991px) {
  .nav {
    padding: 15px 20px;
  }
  section {
    padding: 3rem 0 1rem;
  }
  .home-text {
    padding-left: 2rem;
  }
  .home-text h1 {
    font-size: 2.1rem;
  }
}
@media (max-width: 768px) {
  .nav {
    padding: 10px 0;
  }
  #menu-icon {
    display: initial;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    row-gap: 0.5rem;
    text-align: center;
    box-shadow: 4px 4px 20px rgba(15, 54, 55, 0.2);
    -webkit-clip-path: circle(0% at 0% 0%);
            clip-path: circle(0% at 0% 0%);
    transition: 0.6s;
  }
  .navbar a {
    display: block;
    padding: 15px;
  }
  .navbar a:hover,
  .navbar .active {
    border-bottom: none;
    background: var(--main-color);
    color: var(--bg-color);
  }
  .navbar.active {
    -webkit-clip-path: circle(144% at 0% 0%);
            clip-path: circle(144% at 0% 0%);
  }
}
@media (max-width: 727px) {
  .heading span {
    font-size: 0.9rem;
  }
  .heading h2 {
    font-size: 1.4rem;
  }
  .about {
    flex-direction: column-reverse;
  }
  .about-text {
    text-align: center;
  }
  .about-text h2 {
    font-size: 1.4rem;
  }
}
@media (max-width: 607px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 360px) {
  .home {
    min-height: 500px;
  }
  .home-text h1 {
    font-size: 2rem;
  }
  .home-text p br {
    display: contents;
  }
}/*# sourceMappingURL=style.css.map */