body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: goldenrod;
    display: flex;
    height: 100px;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5% 0 5%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    object-fit: cover;
    display: flex;
    justify-content: center;
    width: 15%;
    height: 100%;
}

.logo a {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50%;
    width: 200%;
    object-fit: contain;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff0000;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #000;
        position: absolute;
        top: 60px;
        right: 0;
        left: 0;
    }

    .nav-links.active {
        display: flex;
    }

    .burger {
        display: flex;
    }
}
