@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Raleway:wght@400;600;700;800&display=swap');

*{
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --red-color: #FF0000;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --grey-color: #757575;
}

/* Scroll Bar */
html::-webkit-scrollbar{
    width: 0rem;
    background: transparent;
}

body {
    background-color: var(--white-color);
}

header {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    margin-top: 0.5rem;
    border-bottom: 5px solid var(--red-color);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
    color: var(--black-color);
}

.logo{
    font-size: 48px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: var(--red-color);
}

.navbar {
    display: flex;
    column-gap: 2rem;
    align-items: center;
}

.navbar a{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--grey-color);
}

.navbar a:hover{
    color: var(--black-color);
    border-bottom: 3px solid var(--red-color);
}

.navbar .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-size: 1rem;
    background-color: var(--grey-color);
    border-radius: 10px;
    padding: 5px 7px 5px 5px;
    gap: 4px;
}

.landing {
    padding: 4rem 0 2rem;
    margin-top: 4rem;
    margin-left: 70px;
    margin-right: 70px;
}

.landing-filter {
    background: linear-gradient(0deg, rgba(255, 0, 0, 0.55) 0%, rgba(255, 0, 0, 0.55) 100%), url("/Assets/porsche-911-2765638712.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35rem;
    border-radius: 30px;
}

.home__img {
    width: 100%;
    justify-self: stretch;
    border-radius: 0.5rem;
    z-index: 0;
}

.heading {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 10px;
    position: relative;
    margin-left: 6rem;
    margin-top: 12rem;
}

.heading h1{
    color: var(--white-color);
    width: fit-content;
    margin-top: -1px;
    font-family: "Raleway-ExtraBold", Helvetica;
    font-weight: 800;
    font-size: 2.8rem;
    text-align: center;
    white-space: nowrap;
    line-height: normal;
    position: relative;
    letter-spacing: 0;
}

.search-box {
    background-color: var(--white-color);
    border-radius: 15px;
    display: flex;
    margin-left: 6.7rem;
    margin-top: 3rem;
    width: fit-content;
    padding: 10px;
    position: absolute;
    box-shadow: 0px 0px 50px 10px rgb(15, 54, 55);
    border: 1px solid var(--black-color);
    height: 70px;
}

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    background-color: var(--red-color);
    border-radius: 10px;
    padding: 5px 7px 5px 5px;
    gap: 4px;
    margin: 0px 0px 0px 20px;
    font-family: "Raleway-Bold", Helvetica;
    font-weight: 700;
    font-size: 1.5rem;
}

.search-btn:hover {
    color: var(--black-color);
    border-bottom: 3px solid var(--black-color);
}

.search-btn img{
    width: 60%;
    height: 60%;
}

.search-box input{
    width: 1000px;
    font-family: "Poppins", sans-serif;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.5rem;
}

.footer{
    background: var(--black-color);
    color: var(--white-color);
    border-top: 5px solid var(--red-color);
    padding: 15px 70px 0px 70px;
}
  
  .footer-container{
    display: flex;
    justify-content: space-between;
  }
  
  .footer-container .logo{
    font-size: 1.5rem;
    color: var(--red-color);
    margin-bottom: 1rem;
  }
  
  .footer-container .footer-box{
    display: flex;
    flex-direction: column;
  }
  
  .footer-box h3{
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  .footer-box a,
  .footer-box p{
    color: var(--white-color);
    margin-bottom: 10px;
    font-size: 1rem;
  }
  
  .footer-box a:hover{
    color: var(--red-color);
  }
  
  .copyright{
    padding: 20px;
    text-align: center;
    color: var(--white-color);
  }